body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.logo {
  padding: 0 3vw;
}

.logo > img {
  height: 3vw;
  width: 3vw;
}

.padding-top2 {
  padding-top: 2vh;
}

.navigation {
  width: 30vw;
  padding-right: 10vw;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.padding-5 {
  padding: 10vw;
}

.intro {
  background-image: url("./assets/Header\ bg.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 5vw;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 5vw;
  font-weight: 700;
  margin: 0;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  margin: 2vw 0;
  font-size: 2.5vw;
}

.social {
  list-style-type: none;
  width: 30%;
  margin: 0;
  padding: 1vw;
}

.link-style {
  text-decoration: none;
  font-size: 1.8vw;
  color: #344563;
}

h2 {
  font-weight: 500;
  font-size: 3vw;
  margin: 0;
}

p {
  font-size: 1.5vw;
}

.icon {
  width: 3vw;
  height: 3vw;
}

.white-back {
  background-color: white;
}

.pos-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.width-half {
  width: 50%;
}

.width-70 {
  width: 80%;
}

.project {
  max-height: 30vw;
}

.screen,
.project-details {
  width: 40vw;
  height: inherit;
  padding-right: 1vw;
}

.size-half {
  font-size: 1.3vw;
}

li {
  white-space: nowrap;
}

.pro-list {
  width: 30vw;
  padding: 0 1.2vw;
}

.tech {
  list-style: none;
  border: 1px groove rgba(128, 128, 128, 0.352);
  background: #ebebff;
  border-radius: 8px;
  padding: 0.5vw;
  color: #6070ff;
  margin-left: -1vw;
}

.pro-button {
  color: #396df2;
  padding: 1.5vw;
  text-align: center;
  background-color: inherit;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 1.5vw;
  cursor: pointer;
  white-space: nowrap;
}
